/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    --background-image: url('../images/cover-image-dark.png');
    --background-color: #000028;
    --accent-color: #FF0070;
    --section-title-color: #FF0070;
    --section-title-color-transporent: rgba(255, 0, 112, 0.4);
    --head-title-color: #DB00FF;
    --content-title-color: #000028;
    --main-text-color: #F1B2CE;
    --rec-display: flex;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.decorative-rec {
    position: absolute;
    top: 10px;
    right: 20px; /* подвигать под макет */
    font-family: "IBM Plex mono", sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #FF0070;
    display: var(--rec-display);
    gap: 10px;
    justify-content: center;
}