/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --background-image: url('../images/cover-image-dark.png');
    --background-color: #000028;
    --accent-color: #FF0070;
    --section-title-color: #FF0070;
    --section-title-color-transporent: rgba(255, 0, 112, 0.4);
    --head-title-color: #DB00FF;
    --content-title-color: #000028;
    --main-text-color: #F1B2CE;
    --rec-display: flex;
}